@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

@import "statics";
@import "animations";
@import "header";
@import "home";
@import "work";
@import "timeline";
@import "services.scss";
@import "testimonial.scss";
@import "contact";
@import "footer.scss";



*{
  margin: 0;
  padding: 0;
  // font-family: "Roboto",sans-serif;
  font-family: $text2;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // transition:  all 0.3s;
}
a{
  text-decoration: none;
}

body{
  background: $primaryBackground;
  color: $color1;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.disableBtn {
  background-color: rgba(237,237,237);
  cursor: not-allowed;
}

h1{
  transition: all 0.1s;
  
}