$text1:"Roboto",sans-sarif;
$text2:"Open Sans",sans-sarif;
$text3:"MuseoModerno", cursive;
$textHindi:'Tiro Devanagari Hindi', serif;


// $primary: rgba(29,29,29);
// $primarydark: rgba(18,18,18);
// $secondary: rgba(237,86,21);
// $secondarydark: rgba(197,72,18);
// $tertiary: #fff;

$primaryBackground:linear-gradient(90deg, hsla(197, 63%, 27%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
$primaryBtn:#19566f;
$primaryBtnHover:#367f9c;
$primaryBtnHover-2:#367f9c7a;

$primarytext:black;

$imgbg:rgba(223, 234, 244);



// testimonial color
$testimonialbg:rgba(223, 234, 244, 0.397);

$color1:#fef2f2;
$color2:#146146;
$color2_1:#0e443a;
$color2_2:#ccfff6;
$color2_3:#9affec;
$color2_4:#5af7c0;



$color3:#a24f06;
$color3_1:#a24f06;
$color3_2:#ffe4c2;
$color3_3:#ffc884a6;

$p:13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm:2vmax;
$p_sm_inverse:13vmax 0;
$p_zero:0;
